.mainDiv {
    position: fixed;

    width: 70%;
    min-height: 450px;
    max-height: 60%;
    overflow-y: scroll;

    z-index: 200;

    left: 15%;
    top: 20%;

    transition: all 0.3s ease-out;
    border-radius: 16px;
}